

._loading-fullscreen {

	position: fixed;
	top: 4rem;
	bottom: 0;
	left: 0;
	right: 0;
	/*background-color: rgba(128,128,128, 0.3);*/
	background-color: transparent;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
}

/*.cssload-loader-container {
	margin-left: auto;
	margin-right: auto;
}*/